{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Автозапчасти ГАРАЖ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/static/vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="/static/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/fonts/stroyka/stroyka.css">

    <link rel="icon" href="/static/favicons/favicon.ico">
    <link rel="icon" href="/static/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/favicons/apple.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">

  </head>
  <body>
    <div class="site">
      <div class="site__body">
        <div class="page-header">
          <div class="page-header__container container">
          </div>
        </div>
        <div class="not-found">
          <div class="not-found__404">
              Что-то пошло не так...
          </div>
          <div class="not-found__content">
              <h1 class="not-found__title">Страница не найдена</h1>
              <p class="not-found__text">
                  Мы не можем найти страницу, которую вы ищите.<br>
                  Попробуйте воспользоваться поиском.
              </p>
              <form class="not-found__search" action="{% url 'shop:search' %}" method="GET">
                  <input type="text" name="search" class="not-found__search-input form-control" placeholder="Введите для поиска">
                  <button type="submit" class="not-found__search-button btn btn-primary">Поиск</button>
              </form>
              <p class="not-found__text">
                  Или просто вернитесь на главную страницу!
              </p>
              <a class="btn btn-secondary btn-sm" href={% url 'shop:homepage' %}>Вернуться</a>
          </div>
      </div>
      </div>
    </div>
  </body>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/nouislider/nouislider.min.js"></script>
  <script src="/static/vendor/photoswipe/photoswipe.min.js"></script>
  <script src="/static/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="/static/vendor/select2/js/select2.min.js"></script>
  <script src="/static/js/number.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/header.js"></script>
  <script src="/static/vendor/svg4everybody/svg4everybody.min.js"></script>
  <script>
      svg4everybody();
  </script>
</html>