{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="site__body">
    <div class="block about-us">
        <div class="about-us__image"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="about-us__body">
                        <h1 class="about-us__title">О нас</h1>
                        <div class="about-us__text typography">
                            <p>
                                <p>
                                    Добро пожаловать в <strong>"ГАРАЖ"</strong> - Вашего надежного партнера в мире автомобильных запчастей и технических жидкостей!
                                </p>
                                <p>
                                    Мы - команда профессионалов, предлагающая широкий ассортимент качественных запчастей для легковых автомобилей, 
                                    а также специализированных технических жидкостей, необходимых для эффективного обслуживания вашего автомобиля.
                                </p>
                            </p>
                        </div>
                        <h1 class="about-us__title pt-5">Почему именно мы?</h1>
                        <div class="about-us__text typography">
                            <p>
                                <ol>
                                    <li><strong>Широкий ассортимент:</strong> Мы предлагаем большой выбор запчастей и технических жидкостей для удовлетворения потребностей всех автолюбителей.</li>
                                    <li><strong>Качество и надежность</strong> Наши товары соответствуют высочайшим стандартам качества, гарантируя долгий срок службы вашего автомобиля.</li>
                                    <li><strong>Профессиональный сервис</strong> Наши опытные специалисты всегда готовы предоставить Вам профессиональную консультацию и помощь в выборе необходимых запчастей.</li>
                                </ol>
                            </p>
                        </div>
                        <h1 class="about-us__title pt-5">Наша миссия</h1>
                        <div class="about-us__text typography">
                            <p>
                                <p>
                                    Мы стремимся обеспечить наших клиентов только лучшими автомобильными решениями, предлагая высококачественные запчасти и технические жидкости, 
                                    которые соответствуют самым высоким стандартам безопасности и производительности.
                                </p>
                                <p>
                                    Наша миссия - быть надежными партнерами в поддержании Вашего автомобиля в отличной форме.
                                </p>
                            </p>
                        </div>
                        <h1 class="about-us__title pt-5">Наш ассортимент</h1>
                        <div class="about-us__text typography">
                            <p>
                                <p>
                                    Здесь Вы найдете обширный ассортимент запчастей для легковых автомобилей различных марок и моделей. 
                                    Наша продукционная линейка включает в себя не только основные компоненты двигателя, трансмиссии и подвески, 
                                    но и различные технические жидкости.
                                </p>
                            </p>
                        </div>
                        <h1 class="about-us__title pt-5">Партнерство с Motul</h1>
                        <div class="about-us__text typography">
                            <p>
                                <p>
                                    Мы гордимся тем, что являемся официальным партнером компании Motul – ведущего мирового производителя масел и смазочных материалов 
                                    для автомобилей и мотоциклов. Сотрудничество с Motul обеспечивает нам доступ к передовым технологиям и 
                                    инновациям в области автомобильных смазочных материалов, что позволяет нам предлагать нашим клиентам продукцию высочайшего качества.
                                </p>
                            </p>
                        </div>
                        <h1 class="about-us__title pt-5">Технические жидкости</h1>
                        <div class="about-us__text typography">
                            <p>
                                <p>
                                    Особое внимание уделяется предложению высококачественных технических жидкостей, необходимых для правильного ухода за вашим автомобилем. 
                                    Мы предлагаем масла, трансмиссионные жидкости, тормозные жидкости и другие смазочные материалы от ведущих производителей.
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}