{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">Политика конфиденциальности</h1>
                <div class="document__subtitle">Данная редакция Политики действует от 19 сентября 2023 годa.</div>
            </div>
            <div class="document__content typography">

                <h2>1. Определение понятий</h2>
                <p>
                    <ol>
                        <li><strong>"Закон"</strong> означает Федеральный закон Российской Федерации "О персональных данных" со всеми изменениями и дополнениями, а также иные законодательные акты Российской Федерации.</li>
                        <li><strong>"Сайт"</strong> означает информационную единицу в Интернете, ресурс из веб-страниц (документов), которые объединены общей темой и связаны между друг с другом с помощью ссылок. Он зарегистрирован на Правообладателя и обязательно привязан к конкретному домену, являющемуся его адресом. Настоящая Политика разработана для следующего сайта: autoweb.com</li>
                        <li><strong>"Персональные данные"</strong> означает совокупность личных данных и/или неперсонифицированной информации о Пользователе, предоставляемую им самим Правообладателю и/или автоматически собираемую Правообладателем и/или третьими лицами.</li>
                        <li><strong>"Политика"</strong> означает настоящею Политику конфиденциальности для веб-сайта (со всеми существующими дополнениями и изменениями).</li>
                        <li><strong>"Пользователь"</strong> означает юридическое или физическое лицо, которое пользуется Сайтом и/или получило к нему доступ с какого-либо устройства.</li>
                        <li><strong>"Пользовательское соглашение"</strong> означает соглашение, заключаемое между Правообладателем и Пользователем в отношении порядка, правил и особенностей использования Сайта. Пользователь присоединяется к такому соглашению и не имеет права вносить и/или требовать внесения в него каких-либо изменений или дополнений. Пользователь может ознакомиться с условиями Пользовательского соглашения по следующей ссылке: autoweb.com/terms-and-conditions/.</li>
                        <li><strong>"Правообладатель"</strong> означает следующее лицо, на имя которого зарегистрирован Сайт:
                            <br>ИП Литвинов Р.С., ИНН 128991282, Волгоградская обл., г. Волжский, ул. Пушкина 51д.</li>
                        <li><strong>"Файлы куки"</strong> означает небольшие файлы, отправляемые каким-либо сайтом, и размещаемые на компьютерах, смартфонах, планшетах, часах и других мобильных устройствах Пользователя, для улучшения работы сайтов, а также качества размещенного в них контента.</li>
                    </ol>
                </p>

                <h2>2. Отношения, на которые распространяется политика</h2>
                <p>
                    <p>Общие положения</p>
                    Данная Политика используется и применима исключительно к Персональным данным, получаемым от Пользователя в связи с использованием им Сайта. Положения данной Политики направлены на:
                    (1) определение видов и типов получаемых Персональных данных, направлений и целей использования (обработки) Персональных данных, а также источников получения таких Персональных данных; и
                    (2) определение прав Пользователя в отношении защиты конфиденциальности передаваемых им Персональных данных; и
                    (3) определение лиц, ответственных за обработку и хранение Персональных данных, а также третьих лиц, которым такие данные раскрываются (полностью или частично).
                    Правила настоящей Политики не применяются в случае обработки третьими лицами Персональных данных, которые добровольно предоставляются Пользователем.
                    Посредством использования Сайта Пользователь соглашается с условиями данной Политики и дает свое согласие Правообладателю на сбор, обработку, удержание и хранение Персональных данных в порядке и на условиях, предусмотренных настоящей Политикой.
                    Если Пользователь не согласен с условиями Политики и/или отдельные условия Политики ему не понятны, в таком случае Пользователь обязан немедленно прекратить использование Сайта.
                    Права пользователя по защите персональных данных
                    В связи с предоставлением Персональных данных Пользователь автоматически получает следующие права:
                    <ol>
                        <li>Получать данные, касающиеся их обработки (основания и цели такой обработки, применяемые способы обработки, сведения о лицах, которые имеют доступ к ним или которым они могут быть раскрыты на основании договора или Закона).</li>
                        <li>Получать данные о месте нахождения и идентификационных данных лиц, совершающих обработку Персональных данных.</li>
                        <li>Получать данные о сроках хранения Персональных данных.</li>
                        <li>Получать данные об осуществленной или о предполагаемой трансграничной передаче Персональных данных.</li>
                        <li>Обжаловать действия или бездействие Правообладателя в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.</li>
                        <li>Ролучать возмещение убытков и/или компенсацию морального вреда в судебном порядке в следствие допущенных Правообладателем и/или третьими лицами нарушений прав Пользователя на охрану и защиту его Персональных данных.</li>
                        <li>Реализовывать иные права в области защиты персональных данных, предусмотренные Законом или положениями данной Политики.</li>
                    </ol>
                </p>

                <h2>3. Перечень собираемых персональных данных</h2>
                <p>
                    <p>Неперсонифицированная информация о пользователях</p>
                    В связи с использованием Сайта Правообладатель может автоматически собирать и обрабатывать следующею неперсонифицированную информацию о Пользователе:
                    <ol>
                        <li>Информацию о трафике, возможном количестве совершенных кликов, логи и другие данные.</li>
                        <li>Информацию об устройстве (идентификационный номер устройства, с которого выполняется вход, операционная система, платформа, тип браузера и другая информация о браузере, IP адрес).</li>
                    </ol>
                    <p>Личные данные о пользователях</p>
                    Пользователь предоставляет Правообладателю о себе следующие личные данные:
                    <ol>
                        <li>Полные фамилию, имя и отчество.</li>
                        <li>Адрес электронной почты.</li>
                        <li>Номер мобильного телефона.</li>
                        <li>Данные, которые содержатся в личном кабинете (профиле) Пользователя, все внутренние переписки Пользователя (если есть), а также иная активность личного кабинета (профиля) Пользователя.</li>
                        <li>Данные о совершенных Пользователям заказах и/или полученных/оплаченных услугах через Сайт.</li>
                        <li>Данные и информация, получаемая в результате объединения тех или иных Персональных данных конкретного Пользователя, а также данные и информация, получаемые данные о Пользователе, получаемые от третьих лиц (партнеров, маркетологов, исследователей).</li>
                    </ol>
                    Пользователь является единственным ответственным лицом за полноту предоставляемых личных (персональных) данных и обязан осуществлять своевременное их изменение (обновление, проверку, корректировку) на регулярной основе.
                    Правообладатель исходит из того, что все предоставленные Пользователем личные (персональные) данные являются достоверными, и что Пользователь поддерживает такую информацию в актуальном состоянии.
                    <p>Использование Captcha</p>
                    В Сайт интегрирована Captcha, которая представляет собой разновидность Файлов куки, целью которых в данном случае является (1) защита Пользователя от возможного спама, поступающего от третьих лиц в сети Интернет, а также от иного нерелевантного и/или запрещенного контента, и (2) идентификация Пользователя с целью его отличия от ботов/роботов, и (3) улучшение возможностей Пользователя в пользовании контентом Сайта.
                    Вход на сайт позволяет Captcha автоматически получать доступ и производить сбор следующей информации:
                    <ol>
                        <li>Файлы куки, установленные в браузере в течение последних 6 (шести) месяцев; и/или</li>
                        <li>количество кликов, совершенных Пользователем; и/или</li>
                        <li>информация о стилизации веб-странцы; и/или</li>
                        <li>языковые настройки браузера; и/или</li>
                        <li>плагины, установленные в браузере Пользователя; и/или</li>
                        <li>все объекты Javascript.</li>
                    </ol>
                    <p>Использование файлов куки</p>
                    Сайт применяет определенные Файлы куки для сохранения IP-адреса, предпочтений Пользователей или типа используемого устройства с целью (1) ведения статистики посещений и трафика сайта, и (2) персонализации выводимых на экран Пользователя данных, и (3) сохранения данных, необходимых для идентификации Пользователя, в том числе при доступе с разных устройств, и (4) показа рекламы в соответствии с интересами и предпочтениями Пользователя. Сайт может использовать как собственные Файлы куки, принадлежащие Правообладателю, так и Файлы куки третьих лиц.
                    Сайт использует следующие Файлы куки:
                    <ol>
                        <li>Технические (функциональные) Файлы куки, которые нужны для контроля трафика и передачи данных, для идентификации Пользователей и предоставления доступа Пользователю к контенту и без которых использование Сайта является функционально ограниченным, а также для предотвращения предоставления рекомендаций, не соответствующих интересам Пользователя.</li>
                        <li>Файлы куки третьих лиц, которые устанавливаются третьими лицами с разрешения Пользователя и предназначены для проведения статистических исследований, касающихся поведения Пользователя в сети Интернет и/или направления персонализиированных рекламных или маркетинговых материалов Пользователю и/или предоставления товаров или услуг.</li>
                    </ol>
                    Пользователь имеет право в любой момент отключить Файлы куки путем изменения определенных настроек браузера. Такое отключение может повлечь за собой ограничение или изменение доступа Пользователя к функциональным возможностям Сайта и/или его контенту.
                </p>

                <h2>4. Цели сбора и обработки персональных данных</h2>
                <p>
                    <p>Определение целей обработки</p>
                    Сбор и обработка Персональных данных осуществляется в следующих целях:
                    <ol>
                        <li>Для анализа поведения Пользователя, а также выявления предпочтений Пользователя к определенному виду контента.</li>
                        <li>Для оперативной и корректной работы Сайта, улучшения его функциональности и и контента.</li>
                        <li>Для идентификации Пользователя.</li>
                        <li>Для соблюдения требований Закона.</li>
                        <li>Для отслеживания заказов, совершенных Пользователем через Сайт.</li>
                        <li>Для технической поддержки Сайта, выявления проблем в его работе и их устранение.</li>
                        <li>Для поддержания связи с Пользователем (коммуникация).</li>
                        <li>Для выполнения иных обязательств Правообладателя, которые возникли перед Пользователем.</li>
                        <li>Для любых других целей, при условии получения отдельного согласия от Пользователя.</li>
                    </ol>
                    Обработка Персональных данных осуществляется на основе принципов: (1) законности целей и способов обработки; и (2) добросовестности; и (3) соответствия целей обработки Персональных данных целям, заранее определенным и заявленным при сборе таких Персональных данных; и (4) соответствия объема и характера обрабатываемых Персональных данных заявленным целям их обработки.<br>
                    <p>Условия обработки персональных данных</p>
                    Обработка Персональных данных проводится в случаях: (1) получения согласия от Пользователя; или (2) достижения Правообладателем целей, предусмотренных международным договором или Законом; или (3) предоставления Пользователем своих Персональных данных неограниченному кругу лицу; или (4) выполнения иных обязательств Правообладателя перед Пользователем, включая, однако не ограничиваясь, предоставление определенного контента Пользователю; или (5) спасения жизни или здоровья Пользователя, когда согласие на обработку его Персональных данных не удается получить заблаговременно.
                    В случае обезличивания Персональных данных, что не позволяет прямо или опосредованно определить Пользователя, последующее использование и раскрытие таких данных третьим лицам допускается и в отношении их более не применяются правила данной Политики.
                    Правообладатель принимает все возможные меры для защиты конфиденциальности полученных Персональных данных, за исключением случаев, когда Пользователь сделал такие данные общедоступными.
                    Обработка Персональных данных осуществляется с использованием средств автоматизации и без использования таких средств автоматизации.
                </p>

                <h2>5. Доступ третьих лиц к персональным данным</h2>
                <p>
                    <p>Раскрытие персональных данных третьим лицам</p>
                    Правообладатель имеет право раскрывать Персональные данные (1) своим аффилированным лицам, филиалам и представительствам, открытым как на территории Российской Федерации, так и на территории других государств; (2) правопреемникам Правообладателя, которые возникли в результате его ликвидации, реорганизации или банкротства, и которые получили исключительные права владения Сайтом; (3) третьим лицам исключительно для целей оказания получения Пользователем определенного контента или доступа к нему; (4) третьим лицам, когда Пользователем было дано согласие на раскрытие, передачу или обработку своих Персональных данных, а также в иных случаях, прямо предусмотренных Законом или данной Политикой.
                    Правообладатель раскрывает Персональные данные только в том случае, если (1) уверен, что третьи лица будут соблюдать условия данной Политики и предпринимать такие же меры по защите конфиденциальности Персональных данных, которые предпринимает сам Правообладатель, и (2) согласие на такое раскрытие было предварительно выражено Пользователем и/или допускается на основании Закона.
                </p>

                <h2>6. Размещение рекламы</h2>
                <p>
                    <p>Реклама на Сайте</p>
                    Правообладатель не размещает рекламу на Сайте.
                </p>

                <h2>7. Направление жалоб и запросов правообладателю</h2>
                <p>
                    <p>Требование о прекращении обработки персональных данных</p>
                    Каждый Пользователь имеет право выразить свое возражение Правообладателю против обработки и/или хранения его Персональных данных. Такое возражение может быть выражено следующим образом:
                    запрос должен быть отправлен Правообладателю по адресу: autovlz@yandex.ru<br>
                    <p>Запрос на получение информации о персональных данных</p>
                    Если у Пользователя возникают вопросы, связанные с порядком применения или использования настоящий Политики, порядком и/или способом обработки Персональных данных, Пользователь может задать такой вопрос следующим образом:
                    вопрос должен быть отправлен Правообладателю по адресу: autovlz@yandex.ru<br>
                    <p>Изменение (обновление, дополнение, корректировка) или удалении персональных данных</p>
                    Пользователь имеет право в любой момент самостоятельно изменить или удалить свои Персональные данные, за исключением случаев, когда такое изменение или удаление может привести (1) к нарушению правил настоящей Политики; или (2) к нарушению Закона; или (3) характер таких Персональных данных является доказательством в каком-либо судебном процессе, возникшем между Правообладателем и Пользователем. Для этого Пользователю требуется удалить свой личный аккаунт (профиль) на Сайте.
                    Правообладатель имеет право в любой момент удалить личный аккаунт/профиль Пользователя, а также все Персональные данные о Пользователе, если он нарушил условия данной Политики и/или Пользовательского соглашения.
                </p>

                <h2>8. Сроки и порядок хранения персональных данных</h2>
                <p>
                    <p>Хранение осуществляется самостоятельно Правообладателем.</p>
                    Хранение осуществляется в течение всего срока использования Пользователем Сайта.
                </p>

                <h2>9. Доступ несовершеннолетних к сайту</h2>
                <p>
                    Сайт может быть использовано лицами в возрасте до 18 лет.
                    Сайт собирает личные данные о Пользователях, потому использование настоящего Сайта несовершеннолетними Пользователями допускается только при условии получения предварительного согласия от законного представителя (опекуна) на обработку Персональных данных. Такое согласие должно быть предоставлено следующим способом:
                    направление скана паспорта законного представителя на адрес: autovlz@yandex.ru
                    Если несовершеннолетний Пользователь не может предоставить согласие на обработку его Персональных данных от законного представителя (опекуна), в таком случае такой Пользователь обязан немедленно прекратить использование Сайта.
                </p>
                
                <h2>10. Порядок защиты персональных данных</h2>
                <p>
                    Защита конфиденциальности Персональных данных является первостепенной и важной задачей для Правообладателя. Правообладатель придерживается всех требуемых международных стандартов, правил и рекомендаций по защите Персональных данных.
                    Правообладатель внедрил ряд технических и организационных методов, направленных на защиту Персональных данных от разглашения или несанкционированного доступа к ним третьих лиц.
                </p>

                <h2>11. Заключительные положения</h2>
                <p>
                    <p>Доступность текста политики для ознакомления</p>
                    Пользователи могут ознакомиться с условиями данной Политики по следующей ссылке: autoweb.com/confidential/.
                    Данная редакция Политики действует от 19 сентября 2023 годa.
                    <p>Изменение и дополнение политики</p>
                    Настоящая Политика может быть изменена время от времени. Правообладатель не несет какой-либо ответственности перед Пользователем за изменение условий данной Политики без разрешения и/или согласия Пользователя.
                    Пользователь сам обязуется на регулярной основе проверять положения данной Политики на предмет ее возможного изменения или дополнения.<br>
                    <p>Применимое законодательство</p>
                    Настоящая Политика разработана в соответствие с действующим законодательством о защите персональных данных Российской Федерации, в частности, с нормами Федерального закона от 27 июля 2006 года № 152-ФЗ "О персональных данных" (со всеми дополнениями и изменениями), Федерального закона от 21 июля 2014 года № 242-ФЗ "О внесении изменений в отдельные законодательные акты Российской Федерации в части уточнения порядка обработки персональных данных в информационно-телекоммуникационных сетях" (со всеми дополнениями и изменениями).<br>
                    <p>Риск разглашения</p>
                    Вне зависимости от предпринимаемых Правообладателем мер защиты конфиденциальности получаемых персональных данных, Пользователь настоящим считается должным образом ознакомлен с тем, что любая передача Персональных данных в сети Интернет не может быть гарантировано безопасной, а потому Пользователь осуществляет такую передачу на свой собственный риск.
                </p>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}