{% load static %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content={{ description }}>
	  <meta name="keywords" content="запчасти для иномарок, автомагазин, запчасти на автомобили, интернет магазин автозапчастей, автозапчасти иномарки, авто магазин, интернет магазин запчастей, продажа автозапчастей, моторное масло Motul, Motul, мотюль, Волжский, Волжском"/>
    <title>{{ title }}</title>
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://garage-vlz.ru" />
    <meta property="og:title" content="Автозапчасти ГАРАЖ" />
    <meta property="og:description" content="Магазин автозапчастей ГАРАЖ в Волжском - официальный партнёр фирмы Motul и точка продаж всех необходимых комплектующих для Вашего автомобиля." />
    <meta property="og:image" content="https://garage-vlz.ru/static/images/slides/motul-baner-homepage-1.webp" />
    <meta name="yandex-verification" content="e258aae447aaccda" />
    <meta name="google-site-verification" content="4gRyhnF6Ej6JOGSi8Kq6eh_jH29nVgChQm5L5kTmdsk" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com"> 
    <link rel="dns-prefetch" href="//unpkg.com">

    <link rel="icon" href="/static/favicons/favicon.ico">
    <link rel="icon" href="/static/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/favicons/apple.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">

    {% with request.resolver_match.view_name as view_name %}
      {% if view_name == 'shop:homepage' %}
        <link rel="preload" fetchpriority="high" as="image" href="/static/images/slides/motul-baner-homepage-2.webp" type="image/webp">
        <link rel="preload" fetchpriority="high" as="image" href="/static/images/slides/motul-baner-homepage-2-mobile.webp" type="image/webp">
      {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/static/vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="/static/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/fonts/stroyka/stroyka.css">
  </head>
  <body>
    <div class="site">
      {% include "includes/header.html" %}
      {% if messages %}
          <div>
              {% for message in messages %}
                  <div class="alert {{ message.tags }} text-center alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong>
                  </div>
              {% endfor %}
          </div>
      {% endif %}
      <div class="site__body">
        {% block content %}{% endblock %}
        {% include "includes/footer.html" %}
      </div>
      {% include "includes/mobile_menu.html" %}
      {% include "includes/photoswipe.html" %}
    </div>
  </body>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/nouislider/nouislider.min.js"></script>
  <script src="/static/vendor/photoswipe/photoswipe.min.js"></script>
  <script src="/static/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
  <script src="/static/vendor/select2/js/select2.min.js"></script>
  <script src="/static/js/slide.js"></script>
  <script src="/static/js/cart.js"></script>
  <script src="/static/js/number.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/header.js"></script>
  <script src="/static/vendor/svg4everybody/svg4everybody.min.js"></script>
  <script>
    svg4everybody();
  </script>
  <script src="/static/js/htmx.min.js"></script>
</html>