Тема: Восстановление пароля на сайте "ГАРАЖ"

Здравствуйте!

Недавно мы получили запрос на восстановление пароля для аккаунта, связанного с вашей электронной почтой {{ email }}. Если вы отправляли запрос, перейдите по ссылке ниже для завершения процесса восстановления пароля:

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

Если вы не запрашивали восстановление пароля, проигнорируйте данное сообщение и ваш пароль останется прежним. Возможно, кто-то ошибся при вводе адреса электронной почты.

Если у вас возникли какие-либо вопросы, не стесняйтесь обращаться!

С уважением,
Команда поддержки сайта