{% extends 'base.html' %}

{% block content %}
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 d-flex flex-column">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">Сброс пароля завершен</h3>
                        <p>Ваш пароль был успешно изменен. Теперь вы можете войти, используя новый пароль.</p>
                        <a href="{% url 'auth:login' %}" class="btn btn-primary">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
