{% extends "base.html" %}

{% block content %}
<div class="block">
    <div class="container">
        <div class="row">
            {% include "includes/account_navigation.html" %}
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Изменение пароля успешно выполнено</h5>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-7 col-xl-6">
                                <a href="{% url 'account:edit_profile' %}" class="btn btn-primary mb-3">Вернуться к редактированию профиля</a>
                                <a href="{% url 'shop:homepage' %}" class="btn btn-primary">Вернуться на главную страницу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
