{% extends 'base.html' %}

{% block content %}
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 d-flex flex-column">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">Восстановление пароля</h3>
                        <p>На указанный адрес электронной почты было отправлено письмо с инструкциями по восстановлению пароля. Пожалуйста, проверьте свою почту и следуйте дальнейшим инструкциям.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
