{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
  .container {
      width: 100%;
  }
</style>

<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'shop:homepage' %}">Главная</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="/static/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'shop:brands_list' %}">Список производителей</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="/static/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>{{ title }}</h1>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="block">
              <div class="products-view">
                  <div class="products-view__list products-list" data-layout="list" data-with-features="false" data-mobile-grid-columns="2">
                      <div class="products-list__body">
                          {% for product in page_obj %}
                              {% include "includes/product_card.html" %}
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% include 'includes/pagination.html' %}
{% endblock %}