{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
<style>
    .address-card__footer a {
        color: #000000; /* Измените этот цвет на желаемый */
        text-decoration: none;
    }
    .address-card__footer a:hover {
        color: #000000; /* Измените этот цвет на желаемый для hover state */
        text-decoration: none;
    }
</style>
<div class="block">
    <div class="container">
        <div class="row">
            {% include "includes/account_navigation.html" %}
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Страница пользователя</h5>
                    </div>
                    <div class="card-divider"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="card shadow-sm p-3 mb-2 bg-body rounded">
                                    <div class="card-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="{{ form.email.id_for_label }}" class="form-label">Электронная почта</label>
                                                <input type="text" class="form-control" id="{{ form.email.id_for_label }}" value="{{ user.email }}" disabled style="background-color: white;" aria-label="Поле электронной почты">
                                            </div>
                                            <div class="mb-3">
                                                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                                                <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" value="{{ user.first_name }}" disabled style="background-color: white;" aria-label="Поле имени пользователя">
                                            </div>
                                            <div class="mb-3">
                                                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                                                <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}" value="{{ user.last_name }}" disabled style="background-color: white;" aria-label="Поле фамилии пользователя">
                                            </div>
                                            <div class="mb-3">
                                                <label for="{{ form.phone_number.id_for_label }}" class="form-label">Номер телефона</label>
                                                <input type="text" class="form-control" id="{{ form.phone_number.id_for_label }}" value="{{ user.phone_number }}" disabled style="background-color: white;" aria-label="Поле номера телефона пользователя">
                                            </div>
                                        </form>
                                    </div>
                                    <a href="{% url 'account:edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
                                    </br>
                                    <a href="{% url 'account:delete_profile' %}" class="btn btn-primary">Удалить профиль</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                {% for car in cars %}
                                    <div class="card shadow-sm p-3 mb-2 bg-body rounded">
                                        <div class="card-body">
                                            <h7 class="card-title">{{ car.mark }} {{ car.model }}</h7>
                                            <hr>
                                            <p class="card-subtitle mb-2 text-muted">VIN-код: {% if car.vin_code %}{{ car.vin_code }}{% else %}Не указан{% endif %}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
